body{
    margin: 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div_top{
    padding-top: 100px;
    width: 100%;
    height: 150px;
    background-color: black;
    text-align: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    flex-flow: wrap;
    font-size: 28px;
    font-weight: bold;
}

/*---------------------------------------------------------
    INICIO DE SESION
-----------------------------------------------------------*/
.div_general{
    margin-top: 40px;
    width: 100%;
    height: 490px;
    background-color: white;
    justify-content: space-around;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-flow: wrap;
}
.div_login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    background-color: white;
}
.div_login_iniciosesion{
    height: 80%;
    background-color: black;
    width: 50%;
    justify-content: space-around;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-flow: wrap;
    border-radius: 2px;

}
.div_login_logo{
    height: 110px;
    width: 100%;
    background-color: white;
    text-align: center;
    justify-content: space-around;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-flow: wrap;    
    border-radius: 2px;
}
.div_login_usucon{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    flex-flow: wrap;
}
.imagen{
    height: 100px;
    width: 100px;
    display: block;
}
.usucontra{
    border-radius: 3px;
}
/---------------------------------------------------------
    TIENDA
-----------------------------------------------------------/

/MENU/
.div_top_tienda{
    padding-top: 100px;
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    flex-flow: wrap;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
}
.menu_tienda{
    margin-top: 250px;
    position: fixed;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_tienda>a{
    display: block;
    padding: 20px 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
    transition: background-color 0.5s ;
    border-radius: 2px;
}
.menu_tienda>a:hover{
    background-color: black;
    color: white;
    transition: 40ms;
}
